{% load i18n %}
<form action="{% url 'video:video_delete' video.id %}" method="post" class="video-delete-form">
	{% csrf_token %}
	<div class="modal-header bg-danger">
		<button type="button" class="close" data-dismiss="modal">
			<i class="fa fa-times"></i>  
		</button>
		<h4 class="modal-title text-danger">{% trans 'Удалить видео?' %}</h4>
	</div>
	<div class="modal-body">
		<p class="lead">{% trans 'Вы уверены, что хотите удалить видео' %}&nbsp;<strong>{{ video.head }}</strong>?</p>
		<div id="loader">
			<div class="loader-item" id="loader-first">
				<div class="loader-item-inner"></div>
			</div>
			<div class="loader-item" id="loader-second">
				<div class="loader-item-inner"></div>
			</div>
			<div class="loader-item" id="loader-third">
				<div class="loader-item-inner"></div>
			</div>
			<div class="loader-item" id="loader-fourth">
				<div class="loader-item-inner"></div>
			</div>
			<div class="loader-item" id="loader-fifth">
				<div class="loader-item-inner"></div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Закрыть' %}</button>
		<button type="submit" class="btn btn-danger">{% trans 'Удалить' %}</button>
	</div>
</form>