{% load i18n %}
<form method="post" action="{% url 'slider:slide_create' %}" class='slide-create-form' enctype="multipart/form-data">
	{% csrf_token %}
	<div class="modal-header bg-success">
		<button type="button" class="close" data-dismiss="modal">
      		<i class="fa fa-times"></i>  
    	</button>
		<h4 class="modal-title text-success">{% trans 'Создать новый слайд' %}</h4>
	</div>
	<div class="modal-body">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a class="tabnav" data-toggle="tab" href="#tab-ru">{% trans 'Русский' %}</a></li>
			<li><a class="tabnav" data-toggle="tab" href="#tab-en">{% trans 'Английский' %}</a></li>
			<li><a class="tabnav" data-toggle="tab" href="#tab-kz">{% trans 'Казахский' %}</a></li>
		</ul>
		<div class="tab-content custom-tab-content">
			<div id="tab-ru" class="tab-pane fade in active">
				<div class="form-group{% if slide_create_form.head.errors %} has-error{% endif %}">
					<label for="{{ slide_create_form.head.id_for_label }}">{{ slide_create_form.head.label }}</label>
					{{ slide_create_form.head }}
					{% if slide_create_form.head.errors %}
						{% for error in slide_create_form.head.errors %}
							<ul class="list-unstyled">
								<li class="text-danger"><strong>{{ error|escape }}</strong></li>
							</ul>
						{% endfor %}
					{% endif %}
				</div>
				<div class="form-group{% if slide_create_form.opt_head.errors %} has-error{% endif %}">
					<label for="{{ slide_create_form.opt_head.id_for_label }}">{{ slide_create_form.opt_head.label }}</label>
					{{ slide_create_form.opt_head }}
					{% if slide_create_form.opt_head.errors %}
						{% for error in slide_create_form.opt_head.errors %}
							<ul class="list-unstyled">
								<li class="text-danger"><strong>{{ error|escape }}</strong></li>
							</ul>
						{% endfor %}
					{% endif %}
				</div>
				<div class="form-group{% if slide_create_form.body.errors %} has-error{% endif %}">
					<label for="{{ slide_create_form.body.id_for_label }}">{{ slide_create_form.body.label }}</label>
					{{ slide_create_form.body }}
					{% if slide_create_form.body.errors %}
						{% for error in slide_create_form.body.errors %}
							<ul class="list-unstyled">
								<li class="text-danger"><strong>{{ error|escape }}</strong></li>
							</ul>
						{% endfor %}
					{% endif %}
				</div>
				<div class="form-group{% if slide_create_form.url.errors %} has-error{% endif %}">
					<label for="{{ slide_create_form.url.id_for_label }}">{{ slide_create_form.url.label }}</label>
					{{ slide_create_form.url }}
					{% if slide_create_form.url.errors %}
						{% for error in slide_create_form.url.errors %}
							<ul class="list-unstyled">
								<li class="text-danger"><strong>{{ error|escape }}</strong></li>
							</ul>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<div id="tab-en" class="tab-pane fade">
				<div class="form-group{% if slide_create_form.head_en.errors %} has-error{% endif %}">
					<label for="{{ slide_create_form.head_en.id_for_label }}">{{ slide_create_form.head_en.label }}</label>
					{{ slide_create_form.head_en }}
					{% if slide_create_form.head_en.errors %}
						{% for error in slide_create_form.head_en.errors %}
							<ul class="list-unstyled">
								<li class="text-danger"><strong>{{ error|escape }}</strong></li>
							</ul>
						{% endfor %}
					{% endif %}
				</div>
				<div class="form-group{% if slide_create_form.opt_head_en.errors %} has-error{% endif %}">
					<label for="{{ slide_create_form.opt_head_en.id_for_label }}">{{ slide_create_form.opt_head_en.label }}</label>
					{{ slide_create_form.opt_head_en }}
					{% if slide_create_form.opt_head_en.errors %}
						{% for error in slide_create_form.opt_head_en.errors %}
							<ul class="list-unstyled">
								<li class="text-danger"><strong>{{ error|escape }}</strong></li>
							</ul>
						{% endfor %}
					{% endif %}
				</div>
				<div class="form-group{% if slide_create_form.body_en.errors %} has-error{% endif %}">
					<label for="{{ slide_create_form.body_en.id_for_label }}">{{ slide_create_form.body_en.label }}</label>
					{{ slide_create_form.body_en }}
					{% if slide_create_form.body_en.errors %}
						{% for error in slide_create_form.body_en.errors %}
							<ul class="list-unstyled">
								<li class="text-danger"><strong>{{ error|escape }}</strong></li>
							</ul>
						{% endfor %}
					{% endif %}
				</div>
				<div class="form-group{% if slide_create_form.url_en.errors %} has-error{% endif %}">
					<label for="{{ slide_create_form.url_en.id_for_label }}">{{ slide_create_form.url_en.label }}</label>
					{{ slide_create_form.url_en }}
					{% if slide_create_form.url_en.errors %}
						{% for error in slide_create_form.url_en.errors %}
							<ul class="list-unstyled">
								<li class="text-danger"><strong>{{ error|escape }}</strong></li>
							</ul>
						{% endfor %}
					{% endif %}
				</div>
			</div>

			<div id="tab-kz" class="tab-pane fade">
				<div class="form-group{% if slide_create_form.head_kz.errors %} has-error{% endif %}">
					<label for="{{ slide_create_form.head_kz.id_for_label }}">{{ slide_create_form.head_kz.label }}</label>
					{{ slide_create_form.head_kz }}
					{% if slide_create_form.head_kz.errors %}
						{% for error in slide_create_form.head_kz.errors %}
							<ul class="list-unstyled">
								<li class="text-danger"><strong>{{ error|escape }}</strong></li>
							</ul>
						{% endfor %}
					{% endif %}
				</div>
				<div class="form-group{% if slide_create_form.opt_head_kz.errors %} has-error{% endif %}">
					<label for="{{ slide_create_form.opt_head_kz.id_for_label }}">{{ slide_create_form.opt_head_kz.label }}</label>
					{{ slide_create_form.opt_head_kz }}
					{% if slide_create_form.opt_head_kz.errors %}
						{% for error in slide_create_form.opt_head_kz.errors %}
							<ul class="list-unstyled">
								<li class="text-danger"><strong>{{ error|escape }}</strong></li>
							</ul>
						{% endfor %}
					{% endif %}
				</div>
				<div class="form-group{% if slide_create_form.body_kz.errors %} has-error{% endif %}">
					<label for="{{ slide_create_form.body_kz.id_for_label }}">{{ slide_create_form.body_kz.label }}</label>
					{{ slide_create_form.body_kz }}
					{% if slide_create_form.body_kz.errors %}
						{% for error in slide_create_form.body_kz.errors %}
							<ul class="list-unstyled">
								<li class="text-danger"><strong>{{ error|escape }}</strong></li>
							</ul>
						{% endfor %}
					{% endif %}
				</div>
				<div class="form-group{% if slide_create_form.url_kz.errors %} has-error{% endif %}">
					<label for="{{ slide_create_form.url_kz.id_for_label }}">{{ slide_create_form.url_kz.label }}</label>
					{{ slide_create_form.url_kz }}
					{% if slide_create_form.url_kz.errors %}
						{% for error in slide_create_form.url_kz.errors %}
							<ul class="list-unstyled">
								<li class="text-danger"><strong>{{ error|escape }}</strong></li>
							</ul>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
		<div class="form-group{% if slide_create_form.location.errors %} has-error{% endif %}">
			<label for="{{ slide_create_form.location.id_for_label }}">{{ slide_create_form.location.label }}</label>
			{{ slide_create_form.location }}
			{% if slide_create_form.location.errors %}
				{% for error in slide_create_form.location.errors %}
					<ul class="list-unstyled">
						<li class="text-danger"><strong>{{ error|escape }}</strong></li>
					</ul>
				{% endfor %}
			{% endif %}
		</div>
		{{ slide_create_form.image }}
		<div class="alert alert-danger alert-dismissible text-center invisible-item" role="alert" id="slide-errors">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			<strong>&nbsp;{% trans "Ошибка" %}:</strong>&nbsp;<span>{% trans "Проверьте введенные вами данные" %}.</span><br><span class="error-description"></span>
		</div>
		<div id="loader">
			<div class="loader-item" id="loader-first">
				<div class="loader-item-inner"></div>
			</div>
			<div class="loader-item" id="loader-second">
				<div class="loader-item-inner"></div>
			</div>
			<div class="loader-item" id="loader-third">
				<div class="loader-item-inner"></div>
			</div>
			<div class="loader-item" id="loader-fourth">
				<div class="loader-item-inner"></div>
			</div>
			<div class="loader-item" id="loader-fifth">
				<div class="loader-item-inner"></div>
			</div>
		</div>
	</div>
	<div class="modal-footer custom-modal-footer">
		<div class="pull-left">
			<div class="form-group custom-form-group{% if slide_create_form.public.errors %} has-error{% endif %}">
				<div class="custom-checkbox">
					<label for="{{ slide_create_form.public.id_for_label }}">
						{{ slide_create_form.public }}
						<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
						<strong>{{ slide_create_form.public.label }}</strong>
					</label>
				</div>
				{% if slide_create_form.public.errors %}
					{% for error in slide_create_form.public.errors %}
						<ul class="list-unstyled">
							<li class="text-danger"><strong>{{ error|escape }}</strong></li>
						</ul>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="pull-right custom-pull-right">
			<button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Закрыть' %}</button>
			<button type="submit" class="btn btn-success">{% trans 'Создать' %}</button>
		</div>
	</div>
</form>