{% load i18n %}
<form method="post" action="{% url 'user:user_password_change' user.pk %}" class='user-password-change-form' enctype="multipart/form-data">
	{% csrf_token %}
	<div class="modal-header bg-success">
		<button type="button" class="close" data-dismiss="modal">
			<i class="fa fa-times"></i>  
		</button>
		<h4 class="modal-title text-success">{% trans 'Установить новый пароль для пользователя' %}&nbsp;{{ user.username }}</h4>
	</div>
	<div class="modal-body">
		<div class="form-group{% if user_password_change_form.new_password.errors %} has-error{% endif %}">
			<label for="{{ user_password_change_form.new_password.id_for_label }}">{{ user_password_change_form.new_password.label }}</label>
			<div class="input-group">
				{{ user_password_change_form.new_password }}
				<div class="input-group-btn">
					<button type="button" class="btn btn-default" id="password-toggle-btn"><i class="fa fa-eye-slash"></i></button>
				</div>
			</div>
			{% if user_password_change_form.new_password.errors %}
				{% for error in user_password_change_form.new_password.errors %}
					<ul class="list-unstyled">
						<li class="text-danger"><strong>{{ error|escape }}</strong></li>
					</ul>
				{% endfor %}
			{% endif %}
		</div>
		<div class="progress progress-striped">
			<div id="password-strength-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		<div class="alert alert-info" role="alert">
			<i class="fa fa-lock"></i>&nbsp;<span>{% trans 'Пароль не должен состоять только из цифр.' %}</span><br>
			<i class="fa fa-lock"></i>&nbsp;<span>{% trans 'Пароль должен содержать как минимум 8 символов.' %}</span><br>
		</div>
		<div class="alert alert-danger alert-dismissible text-center invisible-item" role="alert" id="user-errors">
			<i class="fa fa-exclamation-triangle"></i>
			<strong>&nbsp;{% trans "Ошибка" %}:</strong>&nbsp;<span>{% trans "Проверьте введенные вами данные" %}.</span><br><span class="error-description"></span>
		</div>
		<div id="loader">
			<div class="loader-item" id="loader-first">
				<div class="loader-item-inner"></div>
			</div>
			<div class="loader-item" id="loader-second">
				<div class="loader-item-inner"></div>
			</div>
			<div class="loader-item" id="loader-third">
				<div class="loader-item-inner"></div>
			</div>
			<div class="loader-item" id="loader-fourth">
				<div class="loader-item-inner"></div>
			</div>
			<div class="loader-item" id="loader-fifth">
				<div class="loader-item-inner"></div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="pull-right">
			<button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Закрыть' %}</button>
			<button type="submit" class="btn btn-success">{% trans 'Обновить' %}</button>
		</div>
	</div>
</form>